GetBooksProject/GetBooksProject/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GetBooksProject/GetBooksProject/obj/Debug/GetBooksProject.csproj.AssemblyReference.cache
GetBooksProject/GetBooksProject/obj/Debug/GetBooksProject.csproj.GenerateResource.cache
*.suo
*.cache